<link rel="stylesheet" type="text/css" href="app/cistatus/cistatusStyles.css">
<div ng-controller="cistatusController as cistatus">
  <div class="container-fluid">
    <h1>CI Status <span ng-if="cistatus.loading" class="fa fa-spinner fa-pulse"></span><small ng-if="cistatus.yearVersions.length">Updated {{cistatus.timestamp | fromNow}} ago...</small></h1>
  </div>
  <table class="table table-bordered ctable">
    <thead>
      <tr>
        <th rowspan="2">Application</th>
        <th class="y" colspan="5">{{cistatus.yearVersions[0]}}</th>
        <th ng-hide="{{cistatus.showOptions == 'Latest Code'}}" class="b" colspan="5">{{cistatus.yearVersions[1]}}</th>
        <th ng-hide="{{cistatus.showOptions == 'Latest Code'}}" class="g" colspan="5">{{cistatus.yearVersions[2]}}</th>
      </tr>
      <tr>
        <th class="y">Review Status</th>
        <th class="y">Last Review Success</th>
        <th class="y">Deploy Status</th>
        <th class="y">Last Deploy Success</th>
        <th class="y">Artifact or Build #</th>
        <th class="b">Review Status</th>
        <th class="b">Last Review Success</th>
        <th class="b">Deploy Status</th>
        <th class="b">Last Deploy Success</th>
        <th class="b">Artifact or Build #</th>
        <th class="g">Review Status</th>
        <th class="g">Last Review Success</th>
        <th class="g">Deploy Status</th>
        <th class="g">Last Deploy Success</th>
        <th class="g">Artifact or Build #</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="job in cistatus.jobs" ng-if="job[cistatus.yearVersions[0]].reviewStatus == 'red' || job[cistatus.yearVersions[0]].deployStatus == 'red' || job[cistatus.yearVersions[1]].reviewStatus == 'red' || job[cistatus.yearVersions[1]].deployStatus == 'red' || job[cistatus.yearVersions[2]].reviewStatus == 'red' || job[cistatus.yearVersions[2]].deployStatus == 'red'" >
        <th>
          {{job.name}}
        </th>
        <td class="y">
          <a href="{{job[cistatus.yearVersions[0]].reviewUrl}}">
            <img class="statusimage" ng-src="assets/{{job[cistatus.yearVersions[0]].reviewStatus}}.gif"
              tooltip="{{job[cistatus.yearVersions[0]].reviewStatus | reWord}}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
          </a>
        </td>
        <td class="y">
          <a href="{{job[cistatus.yearVersions[0]].reviewLastUrl}}">
            {{job[cistatus.yearVersions[0]].reviewLast | fromNow}}
          </a>
        </td>
        <td class="y">
          <a href="{{job[cistatus.yearVersions[0]].deployUrl}}">
            <img class="statusimage" ng-src="assets/{{job[cistatus.yearVersions[0]].deployStatus}}.gif"
              tooltip="{{job[cistatus.yearVersions[0]].deployStatus | reWord}}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
          </a>
        </td>
        <td class="y">
          <a href="{{job[cistatus.yearVersions[0]].deployLastUrl}}">
            {{job[cistatus.yearVersions[0]].deployLast | fromNow}}
          </a>
        </td>
        <td class="y">
          <a href="{{cistatus.useDetailsPage ? '#/cistatus/' + job.name + '/' + cistatus.yearVersions[0] : job[cistatus.yearVersions[0]].deployLastUrl + '/changes'}}">
            {{job[cistatus.yearVersions[0]].artifact || job[cistatus.yearVersions[0]].trigger}}
          </a>
        </td>

        <td class="b">
          <a href="{{job[cistatus.yearVersions[1]].reviewUrl}}">
            <img class="statusimage" ng-src="assets/{{job[cistatus.yearVersions[1]].reviewStatus}}.gif"
              tooltip="{{job[cistatus.yearVersions[1]].reviewStatus | reWord}}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
          </a>
        </td>
        <td class="b">
          <a href="{{job[cistatus.yearVersions[1]].reviewLastUrl}}">
            {{job[cistatus.yearVersions[1]].reviewLast | fromNow}}
          </a>
        </td>
        <td class="b">
          <a href="{{job[cistatus.yearVersions[1]].deployUrl}}">
            <img class="statusimage" ng-src="assets/{{job[cistatus.yearVersions[1]].deployStatus}}.gif"
              tooltip="{{job[cistatus.yearVersions[1]].deployStatus | reWord}}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
          </a>
        </td>
        <td class="b">
          <a href="{{job[cistatus.yearVersions[1]].deployLastUrl}}">
            {{job[cistatus.yearVersions[1]].deployLast | fromNow}}
          </a>
        </td>
        <td class="b">
          <a href="{{cistatus.useDetailsPage ? '#/cistatus/' + job.name + '/' + cistatus.yearVersions[1] : job[cistatus.yearVersions[1]].deployLastUrl + '/changes'}}">
            {{job[cistatus.yearVersions[1]].artifact || job[cistatus.yearVersions[0]].trigger}}
          </a>
        </td>

        <td class="g">
          <a href="{{job[cistatus.yearVersions[2]].reviewUrl}}">
            <img class="statusimage" ng-src="assets/{{job[cistatus.yearVersions[2]].reviewStatus}}.gif"
              tooltip="{{job[cistatus.yearVersions[2]].reviewStatus | reWord}}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
          </a>
        </td>
        <td class="g">
          <a href="{{job[cistatus.yearVersions[2]].reviewLastUrl}}">
            {{job[cistatus.yearVersions[2]].reviewLast | fromNow}}
          </a>
        </td>
        <td class="g">
          <a href="{{job[cistatus.yearVersions[2]].deployUrl}}">
            <img class="statusimage" ng-src="assets/{{job[cistatus.yearVersions[2]].deployStatus}}.gif"
              tooltip="{{job[cistatus.yearVersions[2]].deployStatus | reWord}}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
          </a>
        </td>
        <td class="g">
          <a href="{{job[cistatus.yearVersions[2]].deployLastUrl}}">
            {{job[cistatus.yearVersions[2]].deployLast | fromNow}}
          </a>
        </td>
        <td class="g">
          <a href="{{cistatus.useDetailsPage ? '#/cistatus/' + job.name + '/' + cistatus.yearVersions[2] : job[cistatus.yearVersions[2]].deployLastUrl + '/changes'}}">
            {{job[cistatus.yearVersions[2]].artifact || job[cistatus.yearVersions[0]].trigger}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
