<link rel="stylesheet" type="text/css" href="app/cistatus/cistatusStyles.css">
<div ng-controller="cistatusController as cistatus">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">CI Status <span ng-if="cistatus.loading" class="fa fa-spinner fa-pulse"></span><small ng-if="cistatus.yearVersions.length">Updated {{cistatus.timestamp | fromNow}} ago...</small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#!/cistatus2Success">Success <span class="badge badge-success">{{cistatus.jobStatus.blue[cistatus.yearVersions[2]]}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#!/cistatus2Failed">Failed
              <span class="badge badge-light">
                {{cistatus.jobStatus.redReview[cistatus.yearVersions[2]]}}R
                /{{cistatus.jobStatus.redDeploy[cistatus.yearVersions[2]]}}D
              </span></a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="#!/cistatus2Failed">overTwoDays<span class="badge badge-dark">{{cistatus.jobStatus.failed1Day[cistatus.yearVersions[2]]}}</span></a>
          </li>
        -->
          <li class="nav-item">
            <a class="nav-link" href="#!/cistatus2Failed">oneDay<span class="badge badge-danger">{{cistatus.jobStatus.failed1DayLessThan2[cistatus.yearVersions[2]]}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/cistatus2NotBuilt">Not Built<span class="badge badge-secondary">{{cistatus.jobStatus.notbuilt[cistatus.yearVersions[2]]}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/cistatus2Unstable">Unstable<span class="badge badge-warning">{{cistatus.jobStatus.unstable[cistatus.yearVersions[2]]}}</span></a>
          </li>
        </ul>
        <ul class="col-xs-2">
          <input type="text"
            class="form-control"
            placeholder="Search for application"
            ng-model="selectedEnvironment"
            typeahead="environment as environment.name for environment in cistatus.environments | filter:$viewValue | limitTo:15"
            typeahead-template-url="templates/cistatus-tpl.html">
          </input>
        </ul>
      </div>
    </nav>

  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#!/cistatus">{{cistatus.yearVersions[0]}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/cistatus1">{{cistatus.yearVersions[1]}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#!/cistatus2">{{cistatus.yearVersions[2]}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/cistatus3">{{cistatus.yearVersions[3]}}</a>
      </li>
    </ul>
  </div>

    <table class="table table-bordered ctable">
    <thead>
      <tr>
      <th>Application</th>
        <th class="g">Review Status</th>
        <th class="g">Last Review Success</th>
        <th class="g">Deploy Status</th>
        <th class="g">Last Deploy Success</th>
        <th class="g">Artifact or Build #</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="job in cistatus.jobs | filter:selectedEnvironment" ng-if="job[cistatus.yearVersions[2]].reviewStatus == 'yellow' || job[cistatus.yearVersions[2]].deployStatus == 'yellow' ">
        <th>
          {{job.name}}
        </th>
        <td class="g">
          <a href="{{job[cistatus.yearVersions[2]].reviewUrl}}">
            <img class="statusimage" ng-src="assets/{{job[cistatus.yearVersions[2]].reviewStatus}}.gif"
              title="{{job[cistatus.yearVersions[2]].reviewStatus | reWord}}"
              data-toggle="tooltip"
              data-placement="top"
          </a>
        </td>
        <td class="g">
          <a href="{{job[cistatus.yearVersions[2]].reviewLastUrl}}">
            {{job[cistatus.yearVersions[2]].reviewLast | fromNow}}
          </a>
        </td>
        <td class="g">
          <a href="{{job[cistatus.yearVersions[2]].deployUrl}}">
            <img class="statusimage" ng-src="assets/{{job[cistatus.yearVersions[2]].deployStatus}}.gif"
              title="{{job[cistatus.yearVersions[2]].deployStatus | reWord}}"
              data-toggle="tooltip"
              data-placement="top"
          </a>
        </td>
        <td class="g">
          <a href="{{job[cistatus.yearVersions[2]].deployLastUrl}}">
            {{job[cistatus.yearVersions[2]].deployLast | fromNow}}
          </a>
        </td>
        <td class="g">
          <a href="{{cistatus.useDetailsPage ? '#!/cistatus/' + job.name + '/' + cistatus.yearVersions[2] : job[cistatus.yearVersions[2]].deployLastUrl + '/changes'}}">
            {{job[cistatus.yearVersions[2]].artifact || job[cistatus.yearVersions[2]].trigger}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
