
.ctable {
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
}

.ctable .statusimage {
  max-width: 30px;
}

.ctable th {
  text-align: center;
  vertical-align: middle !important;
}

.ctable tr {
  height: 41px;
}

.ctable td {
  vertical-align: middle !important;
  padding: 4px !important;
}

.ctable .y {
  background-color: #fcf8e3;
}

.ctable .b {
  background-color: #d9edf7;
}

.ctable .g {
  background-color: #dff0d8;
}
.ctable .h {
  background-color: #E0FFFF;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.blankrow {
    margin-bottom: 15px;
    padding: 10px;
    color: #0A416B;
    clear:both;
}
.left, .center, .right{
    float:left;
    width:32%;
    padding:5px;

}
