<link rel="stylesheet" type="text/css" href="app/cistatus/cistatusStyles.css">
<div ng-controller="cistatusController as cistatus" ng-init="checkModel.left = !checkModel.left; checkModelLayer.left = !checkModelLayer.left; checkModelLayer.middle = !checkModelLayer.middle; checkModelLayer.right = !checkModelLayer.right">
  <div class="container-fluid lbody typeahead">
    <h1>Search CI<span ng-if="cistatus.loading" class="fa fa-spinner fa-pulse"></span><small ng-if="cistatus.yearVersions.length">Updated {{cistatus.timestamp | fromNow}} ago...</small></h1>
  </div>
  <div class="col-xs-2">
    <input type="text"
      class="form-control"
      placeholder="Search for a self service environment"
      ng-model="selectedEnvironment"
      typeahead="environment as environment.name for environment in cistatus.environments | filter:$viewValue | limitTo:15"
      typeahead-template-url="templates/cistatus-tpl.html">
    </input>
  </div>
  <div class="row" align="center">
    <div class="col-lg-6">
      <h3 ng-if="selectedEnvironment">
        <table class="table table-bordered ctable">
        <thead>
          <tr>
          <th>
          {{cistatus.yearVersions[0]}} Application
          </th>
            <th class="y">Review Status</th>
            <th class="y">Last Review Success</th>
            <th class="y">Deploy Status</th>
            <th class="y">Last Deploy Success</th>
            <th class="y">Artifact or Build #</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="job in cistatus.jobs" ng-hide="job.name != selectedEnvironment">
          <th>
            {{selectedEnvironment}}
          </th>
          <td class="y">
            <a href="{{job[cistatus.yearVersions[0]].reviewUrl}}">
              <img class="statusimage" ng-src="assets/{{job[cistatus.yearVersions[0]].reviewStatus}}.gif"
                tooltip="{{job[cistatus.yearVersions[0]].reviewStatus | reWord}}"
                tooltip-placement="top"
                tooltip-trigger="mouseenter">
            </a>
          </td>
          <td class="y">
            <a href="{{job[cistatus.yearVersions[0]].reviewLastUrl}}">
              {{job[cistatus.yearVersions[0]].reviewLast | fromNow}}
            </a>
          </td>
          <td class="y">
            <a href="{{job[cistatus.yearVersions[0]].deployUrl}}">
              <img class="statusimage" ng-src="assets/{{job[cistatus.yearVersions[0]].deployStatus}}.gif"
                tooltip="{{job[cistatus.yearVersions[0]].deployStatus | reWord}}"
                tooltip-placement="top"
                tooltip-trigger="mouseenter">
            </a>
          </td>
          <td class="y">
            <a href="{{job[cistatus.yearVersions[0]].deployLastUrl}}">
              {{job[cistatus.yearVersions[0]].deployLast | fromNow}}
            </a>
          </td>
          <td class="y">
            <a href="{{cistatus.useDetailsPage ? '#/cistatus/' + job.name + '/' + cistatus.yearVersions[0] : job[cistatus.yearVersions[0]].deployLastUrl + '/changes'}}">
              {{job[cistatus.yearVersions[0]].artifact || job[cistatus.yearVersions[0]].trigger}}
            </a>
          </td>
          </tr>
        </tbody>
      </table>
      </h3>
    </div>
  </div>
</div>
