<link rel="stylesheet" type="text/css" href="app/landing/landingStyles.css">
<div ng-controller="landingController as landing">
  <div class="container-fluid lbody">
    <div class="llist">
      <div ng-repeat="category in landing.categories" class="panel litem" ng-class="category.color ? 'panel-' + category.color : 'panel-white'">
        <div class="panel-heading">{{category.heading}}<span ng-if="category.icon" class="pull-right fa fa-{{category.icon}}"></span></div>
        <div class="list-group">
          <div ng-repeat="link in category.links" class="text-center list-group-item">
            <a ng-href="{{link.url}}">{{link.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
